html{
  width: 100%;
  background-color: #000000;
}

body{
  background-color: inherit;
}

a{
  color: #80ff80;
}

a:hover{
  color: #000000;
    background-color: #80ff80;
}

.nav-bar-item{
  border-left: 2px solid #80ff80;
  border-bottom: 2px solid #80ff80;
}

#GooLogo{
  padding: 16px;
  padding-top: 16px;
}

#header{
  /*
  background-image: url(../Photos/constellationspic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  */
}

.GooFont{
  color: #00ff00;
}
